<body style="background-color:white" sytle="width:100%">



        <div class="container">
                <hr>
        
        <div class="row">
           
        
                <div class="col-md-12" style="text-align:center">
                <h1><pre>{{football.competition.name |json }} -Equipas</pre></h1>   
               
                </div>
        </div>
        <hr>
        <div class="row">
        	
        
            <div class="col-md-3  col-sm-6 col-xs-6 column" *ngFor="let teamslist of football.teams" >
                
                
                
                <div class="card" >
                                       
                 
                                 <img class="img-responsive" src="{{getlog(teamslist.id)}}" alt="John"  style="width: 80%; margin-left: 10%; height: 180px; margin-top:5%" >
                                   <div class="ola" style="text-align:center">
        
                                    <h5 style="color:black" >{{teamslist.shortName}}</h5>  
          
                                     <p style="color:black"  *ngIf="teamslist.id == '583'" class="title" data-toggle="tooltip" data-placement="top"  title="<img style='width:100%; height:100% ;' src='assets/images/dragao.jpg '/>" >
                                   E.Comendador Freitas 
                                      </p>
                                      <p style="color:black"  *ngIf="teamslist.id == '1103'" class="title" data-toggle="tooltip" data-placement="top"  title="<img style='width:100%; height:100% ;' src='assets/images/dragao.jpg '/>" >
                                     Municipal de Chaves
                                         </p>
                                    <p style="color:black"  *ngIf="teamslist.id != '583' && teamslist.id!=1103 "  class="title" data-toggle="tooltip" data-placement="top"  title="<img style='width:100%; height:100% ;' src='assets/images/dragao.jpg '/>">
                                    {{teamslist.venue}}
                                      </p>
                               </div>
                                    <p class="title" data-toggle="tooltip" data-placement="top"  title="<img style='width:100%; height:100% ;' src='assets/images/luz.jpg '/>"></p>
                                        <img class="img-responsive"  data-toggle="tooltip" data-placement="top" title="{{teamslist.clubColors}}" src="{{getequi(teamslist.id)}}" alt="John" style="width:15%; height: 50px ; margin-left: 43% ;">
                                        <div class="" style="text-align:center">
                                                <p></p>
                        <a href="" routerLink="/equipa/{{teamslist.id}}"><button class="button">Saiba Mais!</button></a> 
        
                                             </div>
                 </div>
             
               
              
              </div>
        
                 
        
        </div>
        </div>
   

       
        </body>